@font-face {
    font-family: Lancult;
    src: url(../fonts/fontlan.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

html,
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-01);
    height: 100%;
}

:root {
    --color-01: #e3f5fa;
    --color-02: #e3fffd;
    --color-03: #d7fafc;
    --color-04: #95f0e8;
    --color-05: #02978b;
    --color-06: #3a4d4bb0;
    --color-07: #000000;

    --font-lancult: 'Lancult';
    --font-site: 'Roboto';

}

::selection{
    background-color: var(--color-05);
    color: var(--color-03);
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--font-site);
    min-width: 700px; 
    font-family: var(--font-site);
}

header {
    line-height: 50px;
}

h1#title {
    float: left;
    font-size: 3em;
    margin: 20px 20px;
    color: var(--color-07);
    text-shadow: 2px 2px 5px var(--color-06);
    
}

main h1{
    font-family: var(--font-lancult);
}

nav {
    display: flex;
    justify-content: right;
    margin: 40px;
}

nav>a {
    width: 60px;
    background-color: var(--color-07);
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: var(--color-02);
    padding: 10px 50px;
    line-height: 10px;
}

.left {
    float: left;
    width: 50%;
    margin: 40px;
}

.left>img {
    width: 100%;
    height: 350px;
    padding: 10px;
    border-radius: 30px;
}

h1#page {
    color: var(--color-07);
    font-size: 50px;
    text-align: left;
}

.right {
    float: left;
    width: 60%;
}

.right a {
    height: 100px;
    width: 300px;
    background-color: var(--color-07);
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: var(--color-02);
    padding: 10px 30px;
}

.right p {
    color: var(--color-07);
    font-size: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: var(--color-04);
    color: var(--color-07);
    transition-duration: 1s;
    cursor: pointer;
    border: 2px solid var(--color-05);
}

h1 {
    text-align: center;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: transparent;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-07);
    font-family: var(--font-lancult);
}