
hr{
    border: 0px;
    border-top: 1px solid lightgray;
}
.modal-container{
    width: 50%;
    position: fixed;
    top:30px;
    display: none;
    z-index: 900;
    justify-content: center;
}
.modal{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: beige;
    border-radius: 10px;
    width: 50%;
}
.active{
    display: flex;
}
.active .modal{
    animation: modal .4s;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
span{
    margin: 10px auto;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btns a{
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}
.btnOK{
    background-color: navy!important;
}
.btnClose{
    background-color: rgb(255, 0, 0)!important;
}

@media (max-width: 500px){
    .modal{
        padding: 10px;
        width: 80%;
    }
    span, .btns button{
        font-size: smaller;
    }
}